h3{
    font-family:'Times New Roman', Times, serif;
    font-size:80px;
}

h4{
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
}

h6{
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
}


    a{
        text-decoration: none;
        color: cadetblue;
    }



